.App {
  text-align: center;
  position: fixed;
  /* position:sticky;
  top: auto;
  left: auto; */
}

/* .onTerm {
  background-color: black;
  margin-top: 10px;
  height: 8px;
  width: 30px;
}
.DayFrame {
  justify-content: center;
  align-items: center;
} */

.target {
  animation: flash 1s linear infinite;
}
@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.Main {
  position: relative;
}

.color1 {
  background-color: white;
}
.color2 {
  background-color: blue;
}
.color1 {
  background-color: pink;
}
.color1 {
  background-color: red;
}
.color1 {
  background-color: #333;
}

.selected {
  background-color: #333;
}

.ButtonForPageChange {
  padding-left: 100px;
}

.AllView {
  display: flex;
}

.ViewCalender {
  display: flex;
}

.SideBar {
  width: 200px;
  position: sticky;
  left: 0;
  opacity: 0.9;
  background-color: white;
}

.GanttChart {
  padding-top: 30px;
}

.GanttBar {
  display: flex;
}

.Calender {
  display: flex;
  margin-left: 200px;
}

.display-none {
  display: none;
}

.TaskInfo {
  /* display: flex; */
  margin-left: 0px;
  padding-left: 0px;
  /* padding-right: 0px; */
}

.Istrue {
  background-color: aquamarine;
}

.day {
  border: solid 1px #333;
  width: 50px;
}
.board-element {
  width: 200px;
}
/* 
.calender {
  /* border: solid 1px #333; */
/* margin-top: 100px; */
/* border:solid, #282c34,2px; */

.spinner {
  /* animation: 3s linear infinite rotation; */
  transform: rotate(45deg);
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
